{% extends 'base.html' %}
{% block other %}
	{% for file in files %}
		<div class="container">
		  	<div class="row mb-2">
		      	<div class="col-md-12">
			      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			        <div class="col p-4 d-flex flex-column position-static text-adjust">
			          <h3 class="mb-0"><b> {{file.title}}</b></h3>
			          <div class="mb-1 text-muted">Описание: {{file.description}}</div>
			          <p class="card-text mb-auto">Название файла: {{file.upload.name|cut:"files/"}}</p>
			        </div>
			      </div>
		    	</div>
			</div>
		</div>
	{% endfor %} 
    	<div class="container">
		  	<div class="row mb-2">
		      	<div class="col-md-12">
			      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			        <div class="col p-4 d-flex flex-column position-static text-adjust">
						<form action="" method="post" enctype="multipart/form-data">
					        {% csrf_token %}
					        <table>
					        	{{ form.as_p }}
					        </table>
					        <input type="submit" value="Submit" />
			    		</form>
			        </div>
			      </div>
		    	</div>
			</div>
		</div>
{% endblock %}